@using BikeRenting.Services.Data.Interfaces;
@using BikeRenting.Web.Infrastructure.Extensions;
@model BikeAllViewModel

@inject IAgentService AgentService
@inject IBikeService BikeService

@{
    bool isUserAgent = await AgentService.AgentExistsByUserIdAsync(this.User.GetId()!);
    bool isAgentOwnerOfTheBike = await AgentService.HasBikeWithIdAsync(this.User.GetId(), Model.Id);
    bool isBikeRentedByUser = await BikeService.IsRentedByUserWithIdAsync(Model.Id, this.User.GetId()!);

}
<div class="col-md-4 mb-4">
    <div class="card mb-3" style="height: 100%">
        <div style="height: 350px; overflow: hidden">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Bike Image">
        </div>
        <div class="card-body" style="height: 250px">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Address</b></h6>
            <h6>
                Price Per Month:
                <b>@($"{Model.PricePerMonth:f2}") EUR</b>
            </h6>
            <h6>(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
            <br />
            <a asp-area="" asp-controller="Bike" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success"> <i class="bi bi-info-square-fill"></i> Details</a>

            @if (this.User.Identity?.IsAuthenticated ?? false)
            {
                @if ((isUserAgent && isAgentOwnerOfTheBike) || User.IsAdmin())
                {
                    <a asp-area="" asp-controller="Bike" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning"> <i class="bi bi-pencil-fill"></i> Edit</a>
                    <a asp-area="" asp-controller="Bike" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                        </svg> Delete
                    </a>
                }

                <p></p>

                @if (!Model.IsRented)
                {
                    @if (!isUserAgent)
                    {
                        <form class="input-group-sm" asp-area="" asp-controller="Bike"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            @*<input class="btn btn-primary" type="submit" value="Rent" />*@
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-cart-plus-fill"></i> Rent
                            </button>
                        </form>
                    }

                    // this enables admin to see Rent button for bikes which are not added by him
                    else if (User.IsAdmin() && !isAgentOwnerOfTheBike)
                    {
                        <form class="input-group-sm" asp-area="" asp-controller="Bike"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            @*<input class="btn btn-primary" type="submit" value="Rent" />*@
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-cart-plus-fill"></i> Rent
                            </button>
                            
                        </form>
                    }
                }
                else
                {
                    @if (!isUserAgent && isBikeRentedByUser)
                    {
                        <form asp-area="" asp-controller="Bike" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            @*<input class="btn btn-primary" type="submit" value="Leave" />*@
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-dash-circle"></i> Leave
                            </button>
                        </form>
                    }

                    // this shows Leave buttom to admin if the bike is rented by him
                    else if (User.IsAdmin() && isBikeRentedByUser)
                    {
                        <form asp-area="" asp-controller="Bike" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                           @* <input class="btn btn-primary" type="submit" value="Leave" />*@
                            <button class="btn btn-primary" type="submit">
                                <i class="bi bi-dash-circle"></i> Leave
                            </button>
                        </form>
                    }
                }

            }

        </div>
    </div>
</div>