@using BikeRenting.Services.Data.Interfaces;
@using BikeRenting.Web.Infrastructure.Extensions;
@model BikeDetailsViewModel
@{
    ViewBag.Title = "Bike Details";
}

@inject IAgentService AgentService
@inject IBikeService BikeService

@{
    bool isUserAgent = await AgentService.AgentExistsByUserIdAsync(this.User.GetId()!);
    bool isAgentOwnerOfTheBike = await AgentService.HasBikeWithIdAsync(this.User.GetId(), Model.Id);
    bool isBikeRentedByUser = await BikeService.IsRentedByUserWithIdAsync(Model.Id, this.User.GetId()!);
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Bike Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p><b> <i class="bi bi-geo-alt-fill"></i> Located in:</b> @Model.Address</p>
            <p>
                <b>Price Per Month:</b>
                @($"{Model.PricePerMonth:f2}") EUR
            </p>
            <p><b>Description:</b> @Model.Description</p>
            <p><b>Category:</b> @Model.Category</p>
            <p><b>The bike is @(Model.IsRented ? "already rented" : "not rented")!</b></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if ((isUserAgent && isAgentOwnerOfTheBike) || User.IsAdmin())
                    {
                        <a class="btn btn-warning" asp-controller="Bike" asp-action="Edit"
                           asp-route-id="@Model.Id" > <i class="bi bi-pencil-fill"></i> Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Bike" asp-action="Delete"
                           asp-route-id="@Model.Id">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    }
                    
                    @if (!Model.IsRented)
                    {
                        @if (!isUserAgent)
                        {
                            <form class="input-group-sm" asp-area="" asp-controller="Bike"
                                  asp-action="Rent" asp-route-id="@Model.Id" method="post">
                                @*<input class="btn btn-primary" type="submit" value="Rent" />*@
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-cart-plus-fill"></i> Rent
                                </button>
                            </form>
                        }

                        // this enables admin to see Rent button for bikes which are not added by him
                        else if (User.IsAdmin() && !isAgentOwnerOfTheBike)
                        {
                            <form class="input-group-sm" asp-area="" asp-controller="Bike"
                                  asp-action="Rent" asp-route-id="@Model.Id" method="post">
                               @* <input class="btn btn-primary" type="submit" value="Rent" />*@
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-cart-plus-fill"></i> Rent
                                </button>
                            </form>
                        }
                        
                    }
                    else
                    {
                        @if (!isUserAgent && isBikeRentedByUser)
                        {
                            <form asp-area="" asp-controller="Bike" asp-action="Leave"
                                  asp-route-id="@Model.Id" method="post">
                                @*<input class="btn btn-primary" type="submit" value="Leave" />*@
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-dash-circle"></i> Leave
                                </button>
                            </form>
                        }

                        // this shows Leave buttom to admin if the bike is rented by him
                        else if (User.IsAdmin() && isBikeRentedByUser)
                        {
                            <form asp-area="" asp-controller="Bike" asp-action="Leave"
                                  asp-route-id="@Model.Id" method="post">
                                @*<input class="btn btn-primary" type="submit" value="Leave" />*@
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-dash-circle"></i> Leave
                                </button>
                            </form>
                        }
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b> <i class="bi bi-person-fill"></i> Agent's information</b></h5>
                    <p class="card-text"><b>Full Name: </b> @Model.Agent.FullName</p>
                    <p class="card-text"><b> <i class="bi bi-envelope-fill"></i> Email:</b> @Model.Agent.Email</p>
                    <p class="card-text"><b><i class="bi bi-telephone-inbound-fill"> Phone Number: </i></b> @Model.Agent.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>



